html,
.bg,
body {
    font-family: 'Barlow', sans-serif;
    margin: 0 !important;
    padding: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section {
    background-color: #ffffff;
    width: 95%;
    height: 95%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.top-div {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
    height: 5%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leds {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width: 992px) {
    .leds {
        width: 15%;
    }

}

.led1 {
    width: 10px;
    height: 10px;
    background: #ef5350;
    border-radius: 100px;
}

.led2 {
    width: 10px;
    height: 10px;
    background: #ffd600;
    border-radius: 100px;
}

.led3 {
    width: 10px;
    height: 10px;
    background: #64ffda;
    border-radius: 100px;
}

.line {
    width: 50px;
    height: 8px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.10);
    margin-right: 2%;
}

.middle-div {
    height: 100%;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: scroll;
}

.cube {
    background-color: rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 230px;
    margin: 20px;
    transition: 0.5s;
    color: black !important;
    outline: none;
}

.native-cube {
    background-color: rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 230px;
    margin: 20px;
    transition: 0.5s;
    color: black !important;
    outline: none;
}

a {
    outline: none;
}

.cube:hover {
    box-shadow: 0px 9px 5px 6px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.row-centered {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.native-centered {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.011);
    border-radius: 5px;
}

.header-avatar {
    display: flex;
    align-items: flex-start;
}

.mynames {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;
}

.img1 {
    width: 40px !important;
    border-radius: 0px !important;
    box-shadow: 0px 11px 7px 3px rgba(0, 0, 0, 0.19);
}

.avatar img {
    width: 120px;
    border-radius: 5px;
    box-shadow: 0px 11px 7px 3px rgba(0, 0, 0, 0.19);
}

.main-cards {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-cards span {
    background-color: rgba(0, 0, 0, 0.048);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 230px;
    width: 80% !important;
    margin: 20px;
    transition: 0.5s;
    color: black !important;
    outline: none;
}

.main-cards span img {
    width: 50%;
}

.main-cards span h1 {
    font-weight: bolder;
}

.all-repo-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .main-cards span {
        width: 40% !important;
    }

    .main-cards span h1 {
        font-size: 45px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .main-cards span {
        width: 40% !important;
    }

    .main-cards span h1 {
        font-size: 45px !important;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-cards span {
        width: 40% !important;
    }

    .main-cards span h1 {
        font-size: 45px !important;
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) {
    .main-cards span {
        width: 55% !important;
    }

    .main-cards span h1 {
        font-size: 30px !important;
        ;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    .main-cards span {
        width: 55% !important;
        height: 200px;
    }

    .main-cards span h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    .main-cards span {
        width: 80%;
        height: 200px;
    }

    .main-cards span h1 {
        font-size: 25px;
    }
}